@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}


/* Cabeçalho */
.conteiner {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100vh;
    min-width: 800px;
    padding: 40px 2%;
    background: radial-gradient(circle, transparent 40%, transparent 75%), linear-gradient(to right, gray, gray), url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: normal, multiply, normal;
    background-size: cover;
}

header .menu {
    width: 100%;
    height: 100px;
    background-color: #153d8a;
    border-radius: 20px;
    box-shadow: 0 0 15px #00aeef;
    position: relative;
    top: -20px;
    display: flex;
    justify-content: space-around;
}

nav {
    display: flex;
    justify-content: end;
}

.desktop-menu ul{
    list-style-type: none;
    display: flex;
}

.desktop-menu ul li{
    padding: 0 20px;
}

.desktop-menu ul li a{
    line-height: 100px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    transition: 0.3s all;
}

.desktop-menu ul li a:hover {
    color: #00aeef;
    text-decoration: underline;
}

.logo {
    width: 90px;
    height: 90px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 5px;
}

.logo img{
    width: auto;
    height: 100%;
    display: inline;
}

.call {
    width: 100%;
    height: 50px;
    background: #fff;
    box-shadow: 0 0 10px #00aeef;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.funcional {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #101010;
}

.funcional h1{
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.funcional span {
    color: #00aeef
}

.chamada1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chamada1 h3 {
    color: #fff;
    font-size: 5rem;
    margin-top: 60px;
    margin-bottom: 60px;
    text-transform: uppercase;
    text-shadow: 3px 1px 0 #00aeef;
}

.chamada1 p {
    font-size: 2rem;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
}

.chamada1 a {
    padding: 10px 20px;
    background-color: #153d8a;
    color: #fff;
    font-size: 1.3rem;
    font-size: 400;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s all;
    text-decoration: none;
    text-transform: uppercase;
}

.chamada1 a:hover{
    background-color: #00aeef;
}


/* Sobre-Nos */

#structure {
    width: 100%;
    height: auto;
}

#structure .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#structure .title h1 {
    font-size: 2.5rem;
    margin-top: 30px;
}

.title h1 span {
    color: #00aeef;
}

.text-container, .text-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    width: 90%;
}

.text p {
    font-size: 30px;
    text-align: justify;
}

.img-about img {
    max-width: 500px;
    border-radius: 10px;
    border: 3px solid #00aeef;
    margin: 30px;
}


/* Modalidades */
.container-type{
    width: 100%;
    height: auto;
}

.container-card {
    margin: 10px;
    width: 100%;
}

.card{
    width: 40%;
    height: auto;
    margin: 60px 60px 0;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.card h2{
    text-align: center;
}

.img-type {
    height: 300px;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    border: 3px solid #00aeef;
}

#img-1 {
    background-image: url('../img/bg.jpg');
}

#img-2 {
    background-image: url('../img/Fit\ Dance\ Cortada\ CTFT.jpg');
}

#img-3 {
    background-image: url('../img/Jiu\ Jitsu\ CTFT.jpg');
}

#img-4 {
    background-image: url('../img/Muay\ Thai\ 2\ CTFT.jpg');
}

/* Grade de Horários */
table {
    background-color: #fff;
    border-collapse: separate;
    border: 5px solid #000;
    padding: 5px;
    margin: 40px auto; 
}

#container {
    overflow-x: auto;
}

thead {
    background-color: #153d8a;
    color: #fff;
}

.horario {
    background-color: #153d8a; 
    color: #fff;
}

.fundo {
    background-color: #00aeef;
    color: #fff;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

/* Footer */
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    letter-spacing: 1px;
    position: relative;
}

main {
    height: 80vh;
}

footer {
    width: 100%;
    color: #fff;
}

.footer-link {
    text-decoration: none;
}

.footer-row {
    background-color: #153d8a;
    padding: 0.75rem 2rem;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    justify-content: center; 
    align-items: baseline;
    align-content: space-between;
  }

#footer_contacts h1 {
    margin-bottom: 0.5rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}   

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #fff;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#whatsapp {
    background-color: #24d366;
}

#envelope {
    background-color: #0055ff;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#footer_location {
    display: flex;
}

#footer_location i {
    margin-right: 5px;
}

.footer-list {
    gap: 0.5rem;
}

.footer_copyright {
   position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: 20;
}

/* Responsivo do site */
